<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(client){ %>
      <li>
        <a href="/edit/<%= client._id %>">
          <%= client.nome %>
        </a>
        <a
          href="/delete/<%= client._id %>"
          onclick="return confirm('Tem certeza que deseja excluir?');"
        >
          X
        </a>
      </li>
      <% }) %>
    </ul>
    <hr />
    <a href="/new">Cadastrar novo cliente</a>
  </body>
</html>
